/* ========================== *
/ Sales Report
/ ========================== *
*/

.sales-report-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* border: 1px solid #008CBA; */
}

h1 {
    color: #1c1c1c;
}

.pageTitle {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.sales-report-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 64px;
    /* border: 1px solid #008CBA; */
}

.sales-report-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 38rem;
    /* border: 1px solid #008CBA; */
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.sales-report-item:nth-child(1) {
    background-color: #bfea91;
}
.sales-report-item:nth-child(2) {
    background-color: #91d4ea;
}
.sales-report-item:nth-child(3) {
    background-color: #cb91ea;
}

.sales-report-item p:nth-child(3) {
    align-self: end;
    font-size: 1.2rem;
    font-style: italic;
}

.sales-report-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    mix-blend-mode: multiply;
}


/* ========================== *
/ Transactions and Profiles
/ ========================== *
*/

.sales-report-transactions, .admin-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
}

.transactions-table {
    width: 100%;
    /* border: 1px solid #008CBA; */
}

.transactions-table table, .users-container div table {
    border: 1px solid #dee2e6;
    width: 100%;
    /* border: 2px solid #008CBA; */
    padding: 1rem;
    border-radius: 7px;
    table-layout: fixed;
    border-collapse: collapse; 
    margin-top: 10px;
}

.transactions-table table tr, 
.users-container div table tr {
    /* border: 1px solid #008CBA; */
    height: 50px; 
}

.transactions-table table tr td, 
.users-container div table tr td,
.transactions-table table tr th, 
.users-container div table tr th {
    /* border: 1px solid #008CBA; */
    border-left: 1px solid #dee2e6;
    text-align: start;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    padding: 0 7px;
}


.users-container > div {
    margin-top: 5rem;
}

/* Custom Form Styles */
.sw-custom-label {
    font-size: 14px !important;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
    align-self: start;
}

.sw-custom-input {
    width: 80% !important;
}

.sw-custom-form-control {
    display: flex;
    flex-direction: column;
    align-items: start;
}


/* Button */
.add-account {
    /* margin: 20px 0; */
    padding: 5px 17px;
    background-color: #28a745;
    color: white;
    margin-top: 9px;
}
.add-account:hover {
    color: #fff;
}

.table-striped tr:nth-child(even) {
    background-color: #f8f9fa;
}


#trpContainer {
    margin-top: 30px;
    margin-bottom: 80px;
    background: #f8f9fa;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    height: 400px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#trpContainer canvas {
    width: 100% !important;
    height: 100% !important;
    background: white;
}

